<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>
	</head>
	<body ng-app="myModule" font-family: Arial>
		<div ng-controller="myController">
		<!--Rows to Display :	<input type="number" step="1" min="0" max="3" ng-model="rowLimit" />-->
			<br /><br />
			<table border-collapse: collapse>
				<thead>

					<tr>
						<th>Name</th>
						<th>DOB</th>
						<th>Gender</th>
						<th>Salary (number)</th>
						<th>Salary (currency)</th>
					</tr>

				</thead>
				<tbody>
					<tr ng-repeat="employee in employees ">
						<td>{{ employee.firstName }}</td>
						<td>{{ employee.DOB }}</td>
						<td>{{ employee.gender }}</td>
						<td>{{ employee.Salary }}</td>
						<td>{{ employee.Salary }}</td>

						<!-- <tr ng-repeat="employee in employees | limitTo:rowLimit">
						<td>{{ employee.firstName | uppercase }}</td>
						<td>{{ employee.DOB | date:"dd/MM/yyyy" }}</td>
						<td>{{ employee.gender | lowercase }}</td>
						<td>{{ employee.Salary | number:2 }}</td>
						<td>{{ employee.Salary | currency }}</td>--> 
					</td>
					
				</tbody>

			</table>

		</div>
				
	</body>

	<script>
	var myApp = angular.module("myModule", []);  
	var myController = function($scope){
					var employees = [

		{	firstName : "Martin", DOB : new Date("November 23, 1980") , gender : "Male", Salary: 55000.788 },
		{	firstName : "Miko", DOB :  new Date("May 05, 1970"), gender : "Female", Salary: 68000 },
		{	firstName : "Tom", DOB :  new Date("Augest 15, 1974"), gender : "Male", Salary: 57000 }	

		];					
		$scope.employees = employees;  //assigning complex objecct to scope object.
		//$scope.rowLimit = 3;
				
		}; 
				
		myApp.controller("myController", myController)  

		</script>
</html>